.profile__button-edit {
    border: 1px solid #FFFFFF;
    background-color: #000;
    width: 18px;
    height: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin-left: 10px;
    transition: opacity .1s linear;
    cursor: pointer;
    background-image: url(../../../images/pen.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7.5px;
}

.profile__button-edit:hover {
    opacity: 0.6;
    transition: opacity .1s linear;
}

@media screen and (min-width:960px) {
    .profile__button-edit {
        width: 24px;
        height: 24px;
        margin-left: 18px;
        background-size: 10px;
    }
}