.button-like {
    cursor: pointer;
    border: none;
    background-color: white;
    padding: 0;
    height: 19px;
    width: 22px;
    background-image: url(../../images/like.png);
    transition: opacity .5s linear;
}

.button-like:hover {
    transition: opacity .5s linear;
    opacity: 0.5;
}

.button-like:hover:active {
    background-image: url(../../images/like-black.png);
    opacity: 1;
}