.gallery__button-like {
    cursor: pointer;
    border: none;
    background-color: white;
    padding: 0;
    height: 19px;
    width: 22px;
    background-image: url(../../../images/like.svg);
    transition: opacity .1s linear;
}

.gallery__button-like:hover {
    transition: opacity .1s linear;
    opacity: 0.5;
}

.gallery__button-like:active {
    background-image: url(../../../images/like-black.svg);
    opacity: 1;
}