.popup__form-text {
    border: none;
    text-overflow: ellipsis;
    padding: 0 0 12px 2px;
    font-size: 14px;
    line-height: 17px;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
    min-width: 238px;
    max-height: 14px;
    vertical-align: bottom;
}

.popup__form-text:first-of-type {
    margin-bottom: 30px;
}

.popup__form-text::placeholder {
    color: black;
}

@media screen and (min-width:960px) {
    .popup__form-text {
        min-width: 358px;
    }
}