.footer__text {
    color: #545454;
    font-size: 14px;
    line-height: 17px;
    margin: 0;
}

@media screen and (min-width:960px) {
    .footer__text {
        font-size: 18px;
        line-height: 22px; 
    }
}