.profile__name {
    font-weight: 500;
    font-size: 27px;
    line-height: 33px;
    text-align: center;
    margin: 0;
    max-height: 26px;
}

@media screen and (min-width:960px) {
    .profile__name {
        font-size: 42px;
        line-height: 48px;
        text-align: start;
        max-height: 39px;
    }
}