.profile__info {
    color: white;
    display: flex;
    align-items: flex-end;
}

@media screen and (min-width:960px) {
    .profile__info {
        grid-column: 2/3;
        grid-row: 1/2;
        align-self: end;
    }
}