.footer {        
    /* max-width: 880px; */
    margin: auto;
    padding: 48px 19px 36px;
    min-width: 282px;
    background-color: black;
}

@media screen and (min-width:960px) {
    .footer {
        padding-top: 67px;
        padding-bottom: 60px;
    }
}